name: React CI
on: 
    push:
        branches: 
            - main
            - 'features/**'
        paths-ignore:
            - '**.md'
            - '.github/workflows/**'
    workflow_dispatch:
      
jobs:
    test:
        name: Test And Lint React Application
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                node-version: "24.x"
                run: node --version
                cache: "npm"
                cache-dependency-path: "package-lock.json"
            - name: Install dependencies
              run: npm ci
            - name: Run tests
              run: npm test
            - name: Lint Code
              run: npm run lint --if-present
            - name: Run tests
              run: npm test -- --watch=false
            - name: Build React Application
              run: npm run build
            - name: upload dist artificats
              uses: actions/upload-artifact@v6
              with:
                path: dist



